@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Roboto+Mono:wght@100&family=Ubuntu&display=swap");


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Manrope";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
input{
    padding: 10px !important;
    font-size: 14px !important;
}

.align-items-center{
    align-items: center;
}
.text-align-center{
    text-align: center;
}

.vh-100 {
    height: 100vh;
}